nav a:hover, nav a:focus {
    text-decoration: underline;
}

.skip a{
    position: absolute;
    color: white;
    background-color: black;
    top: -40px;
    left: -900px;
}

.skip a:focus{
    top: 20px;
    left: 0px;
}

:focus{
    border: 2px solid;
}

nav {
    background-color: darkblue; 
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav ul li {
    padding: 10px 15px;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#current-page{
    border: 2px solid;
    padding: 2px;
}

#main-tutoring{
    gap: 20px;
    margin: 20px;
    justify-items: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.tutor-color{
    background-color: #00B2A9;
}

.tutoring-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
   text-align: center;
   justify-items: center;
   align-items: center;
   row-gap: 15px;
}

.tutoring-div{
    grid-column: span 2;
    border: 5px ridge darkblue;
    border-radius: 5px;
    padding: 10px;
}

.ending-tutoring{
    grid-column: span 2;
    border: 3px ridge pink;
    border-radius: 5px;
    padding: 10px;
}

section img{
    max-width: 85%;
    border: 5px darkblue dashed;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

iframe{
    width:-webkit-fill-available;
    padding-top: 10px;
}

.video-section {
    grid-column: span 3;
    text-align: center;
}

.health-main-info{
    grid-column: span 3;
    text-align: center;
}

#wolverine-wellness{
    grid-column: 2/4;
}

#CAPS{
    grid-column: 1/3;
}

#health-body{
    background-color: #FFCB05;
}

#main-study-spots{
    text-align: center;
    font-family: cursive;
}

#main-study-spots section{
    padding-top: 10px;
}

#main-study-spots section img{
    border: 5px ridge #FFCB05;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main-study-spots section h2{
    color: blue;
}

#study-addendum{
    border: 5px ridge blue;
    margin: 5px;
    padding: 5px;
}

.index-body{
    background-color: #75988d;
    font-family: Lato;
    text-align: center;
}

.index-body h1{  
    font-family: Lato;
    margin-bottom: 10px;

}

.index-bottom-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
    border: 2px solid black;
    padding: 5px;
    background-color:#D86018;
}

.index-grid-title{
    grid-column: span 2;
}

#life-outside-classroom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
    border: 2px solid black;
    padding: 5px;
    background-color: #702082;
    color: white;
}

.life-title{
    grid-column: span 2;
}

.life-activity-last{
    grid-column: span 2;
}


.large-icon{
    width: 20%;
}

.error-content{
    text-align: center;
    padding: 15px;
   
}

/* Desktop/Tablet View */

@media (min-width:900px)  {


    #navigation-links nav ul {
        display: flex;  
        justify-content: space-evenly;             
            
    }

    html, body  {
        height: 100%;
        margin: 0;
    }
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    main{
        flex: 1;
    }
    
    
    #error-index{
        align-content: space-around;
    }

    


}














